<template name="dashboard">
    <div class="dashboard">
        <div class="content row">
            {{> createPlaylistModal}}
            <h1>Playlists</h1>
            <table class="playlist-table">
                <tr>
                    <th>#</th>
                    <th>Playlist Name</th>
                    <th>Owner</th>
                    <th># Songs</th>
                    <th>Options</th>
                </tr>
                {{#each getPlaylists}}
                    <tr>
                        <td>{{getPlaylistIndex}}</td>
                        <td>
                            {{#linkTo route="playlist.show" class="my-cls"}}
                                {{this.name}}
                            {{/linkTo}}
                        </td>
                        <td>{{this.owner}}</td>
                        <td>{{this.members.length}}</td>
                        <td>
                            {{#if isAuthorized this.authorizedUserIds currentUser._id}}
                                <a href="{{pathFor route='playlist.show'}}">
                                    <button class="button radius small playlist-option-button">View / Edit</button>
                                </a>
                                <!--<a href="{{pathFor route='playlist.delete'}}">-->
                                    <!--<button class="button radius alert small playlist-option-button">Remove</button>-->
                                <!--</a>-->
                            {{else}}
                                <a href="{{pathFor route='playlist.show'}}">
                                    <button class="button radius small playlist-option-button">View</button>
                                </a>
                            {{/if}}

                        </td>
                    </tr>
                {{/each}}
            </table>
            <a class="nav-link" id="create-playlist-modal-button" data-reveal-id="create-playlist" href="#">
                <button class="button radius large">
                    Add Playlist +
                </button>
            </a>
        </div>
    </div>
</template>