<template name="guides">

	<div id="guidesJumbotron">
		<div id="gMiddle">
			<div id="gInner-jumbo">
				<h1 id="guidesTitle">Here's What You Need</h1>
                <div id="materials">
                	<a class="materialContainer" href="http://www.amazon.com/Beagleboard-BeagleBone-Black-Beaglebone-Devkit/dp/B00CHYOLHK/ref=sr_1_5?ie=UTF8&qid=1445271363&sr=8-5&keywords=beagle+bone+black">
	                	<div class="materialContainerInner">
	                		<h3 class="materialTitle">Beagle Bone Black</h3>
	                		<img src="http://elinux.org/images/2/23/REV_A5A.jpg" />
	                		<div class="materialDesc">Beagle Bones are amazing little pieces of hardware. This is what you are going to use to run yor light server on! This will do all the hard work for you, so it doesn't matter if your computer still runs Windows 95.</div>
	                	</div>
                	</a>
                	<a class="materialContainer" href="http://www.amazon.com/LEDMO-SMD2835-Flexible-Non-waterproof-brightness/dp/B013C2U80Y/ref=sr_1_1?ie=UTF8&qid=1445271403&sr=8-1-spons&keywords=led+strip&psc=1">
	                	<div class="materialContainerInner">
	                		<h3 class="materialTitle">LEDs</h3>
	                		<img src="http://elinux.org/images/2/23/REV_A5A.jpg" />
	                		<div class="materialDesc">These are the lights you are going to use to make your event awesome!</div>
	                	</div>
                	</a>
                	<a class="materialContainer" href="#">
	                	<div class="materialContainerInner">
	                		<h3 class="materialTitle">Your Computer</h3>
	                		<div class="computerWrapper"><i class="fa fa-laptop fa-5x"></i></div>
	                		<div class="materialDesc">This is what you'll use to download our code and run your awesome light show.</div>
	                	</div>
                	</a>
                </div>
			</div>
		</div>
	</div>

	    <!-- Magellin Navigation -->
    <div data-magellan-expedition="fixed" data-options="destination_threshold:40;throttle_delay:0;">
      <dl class="sub-nav">
        <dd data-magellan-arrival="Introduction"><a href="#Introduction">Introduction</a></dd>
        <dd data-magellan-arrival="Step1"><a href="#Step1">Step1</a></dd>
        <dd data-magellan-arrival="Step2"><a href="#Step2">Step2</a></dd>
        <dd data-magellan-arrival="Step3"><a href="#Step3">Step3</a></dd>
        <dd data-magellan-arrival="Step4"><a href="#Step4">Step4</a></dd>
      </dl>
    </div>

    <div class="content row">
      
      <h3 data-magellan-destination="Introduction">Introduction</h3>
      <a name="Introduction"></a>
      <div class="directions">It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing  tag:</div>
      
      
      <h3 data-magellan-destination="Step1">Step1: Hooking It Up</h3>
      <a name="Step1"></a>
      <div class="directions">It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing  tag:</div>

      
      <h3 data-magellan-destination="Step2">Step2: Party</h3>
      <a name="Step2"></a>
      <div class="directions">It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing  tag:</div>

      
      <h3 data-magellan-destination="Step3">Step2: Party</h3>
      <a name="Step3"></a>
      <div class="directions">It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing  tag:</div>

      
      <h3 data-magellan-destination="Step4">Step2: Party</h3>
      <a name="Step4"></a>
      <div class="directions">It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing tag:It's easy to configure Magellan using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure jquery.js, foundation.js, and foundation.magellan.js have been included on your page before continuing. For example, add the following before the closing  tag:</div>
    </div>

</template>

