<template name="home">

	<div id="jumbotron">
		<div id="middle">
			<div id="inner-jumbo">
				<h1 id="title">Synergistic Lighting Solutions</h1>
				<h3 id="afterTitle">Party lighting made simple.</h3>
				<button id="startNow" class="btn">Start Now</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div id="guides" class="medium-6 columns">
			<h5 class="title">Guides</h5>
			<h6 class="para">Synergistic Lighting Solutions is your resource for creating an interactive, powerful light show with little effort. To help with this, we provide a series of guides to help you get started with the board of your choosing. Whether you are just getting started or already have a board ready, the guide is the best place to start.</h6>
			<button id="guideButton">View Guides</button>
		</div>
		<div class="medium-6 columns"></div>
	</div>
	<div class="row">
		<div id="program" class="medium-6 columns medium-offset-6 columns">
			<h5 class="title">Our Program</h5>
			<h6 class="para">Once you have a board ready, then you can get started with your LED show. Our program empowers you to run automated LED programs or go further by writing your own scripts for individual songs.</h6>
		</div>
	</div>
</template>