<template name="nav-bar">
	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a class="nav-link" href="{{pathFor route='home'}}">Home</a></h1>
	    </li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li><a class="nav-link" href="#">Sign Up</a></li>
	      <li><a class="nav-link" href="#">Log In</a></li>
	    </ul>

	    <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a class="nav-link" href="{{pathFor route='guides'}}">Guides</a></li>
	    </ul>
	  </section>
	</nav>

    <!-- This makes this a layout template for the navbar. For more information, view the router config.js file -->
    {{> yield}}
</template>