<template name="navBarLoggedIn">
	<nav class="top-bar" id="loggedInNav" data-topbar role="navigation">

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	    	<li><a class="nav-link" id="dashboard" href="#">Dashboard</a></li>
	    	<li><a class="nav-link" id="playlists" href="#">Playlists</a></li>
	      <li><a class="nav-link" id="users" href="#">Users</a></li>
	      <li><a class="nav-link" id="logout" href="#">Sign Out</a></li>
	      <li><a class="nav-link" id="settings" href="#"><i class="fa fa-cog"></i></a></li>
	    </ul>

	    <!-- Left Nav Section -->
	    <ul class="left">
	      	<li id="playWrapper" class="has-form">
	      		<a id="playButton" class="button media" href="#">
      				<i class="fa fa-play-circle"></i>
      			</a>
      		</li>
      		<li id="songDisplayWrapper" class="has-form">
      			<!-- <div class="row collapse"> -->
      				<div id="displayTrackWrapper" class="large-12 columns">
      					<div id="songDisplay">{{ getCurrentSong }}</div>
	      				<div id="trackButtons">
	      					<a id="backButton" class="button media" href="#"><i class="fa fa-step-backward"></i></a>
			      			<a id="nextButton" class="button media" href="#"><i class="fa fa-step-forward"></i></a>
			      		</div>
      				</div>
      			<!-- </div> -->
      		</li>
	    </ul>
	  </section>
	</nav>

    {{> yield}}

</template>
