.playlist-table td, .playlist-table th, #create-playlist, #create-playlist input, #create-playlist label, .create-playlist-button{
  font-size: 20pt;
}

.playlist-option-button.small {
  margin: 8px 0;
  font-size: 15pt;
}

.playlist-table {
  width: 100%;
}
#create-playlist {
  width: 25%;
  input {
    height: auto;
  }
}

#create-playlist-button {
  width: 68.5%;
}
