@purple: #8E44AD;
@orange: #F39C12;

.top-bar{
	background-color: @purple;
	margin-left: auto;
	margin-right: auto;
	background-color: @purple;
	width: 98%;
}

.top-bar li{
	background-color: @purple;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: @purple;
}

#jumbotron{
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}

#startNow{
	background-color: @orange;
}