#loggedInNav{
	height: 10%;
}

#loggedInNav section{
	height: 100%;
}

.top-bar-section ul{
	height: 100% !important;
	width: 50%;
}

.right{
	width: auto !important;
}

.top-bar-section ul li {
    background: #8e44ad;
}

// #loggedInNav .nav-link{
// 	margin-top: 5px;
// }

.media{
	background-color: transparent;
}

#playWrapper{
	background-color: #8e44ad;
	z-index: -1;
}

#playButton{
	background-color: transparent;
	border-radius: 50%;
	font-size: 100px;
	top: -70%;
	height: 100px;
}

#songDisplayWrapper{
	margin-top: 17px;
	height: 35px;
	width: 65%;
	background: white;
}

#displayTrackWrapper{
	width: 100%;
	clear: both;
}

#songDisplay{
	float: left;
	background: white;
	font-size: 20px;
	width: 75%;
	height: 35px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#trackButtons{
	float: right;
	width: 44px;
	height: 35px;
}

#backButton{
	font-size: 20px;
	text-align: center;
	background: white;
	color: #8e44ad;
	width: 12px;
	padding: 0;
	height: 0px;
}

#nextButton{
	font-size: 20px;
	text-align: center;
	background: white;
	color: #8e44ad;
	width: 12px;
	padding: 0;
	height: 0px;
	margin-left: 15px;
}

#dashboard, #playlists, #users, #logout, #settings{
	font-size: 16px;
	margin-top: 10px;
}
