.top-bar-section ul li {
    background: #8e44ad;
}

.media{
	background-color: transparent;
}

#playWrapper{

	background-color: #8e44ad;
}

#playButton{
	background-color: transparent;
	border-radius: 50%;
	font-size: 100px;
	top: -90%;
	height: 100px;
}

#songDisplayWrapper{
	margin-top: 4%;
	height: 90%;
	background: white;
}

#songDisplay{

}

#backWrapper{
	height: 100%;
}

#backButton{
	text-align: center;
	margin-top: 8%;
	background: white;
	color: #8e44ad;
	height: 25px;
}

#nextWrapper{
	height: 100%;
}

#nextButton{
	text-align: center;
	margin-top: 8%;
	background: white;
	color: #8e44ad;
	height: 25px;
}
