.top-bar-section ul li {
    background: #8e44ad;
}

.media{
	background-color: transparent;
}

#playWrapper{

	background-color: #8e44ad;
}

#playButton{
	background-color: transparent;
	border-radius: 50%;
	font-size: 100px;
	top: -40px;
	height: 100px;

	/*background-color: #8e44ad;*/
}

#songDisplayWrapper{
	margin-top: 10px;
	height: 90%;
	background: white;
}

#songDisplay{

}

#backButton{
	margin-top: 1px;
	background: white;
	color: #8e44ad;
	height: 25px;
}

#nextButton{
	margin-top: 1px;
	background: white;
	color: #8e44ad;
	height: 25px;
}