<template name="createPlaylistModal">
    <div id="createPlaylist" class="reveal-modal" data-reveal aria-labelledby="createPlaylistModalTitle" aria-hidden="true" role="dialog">
        <h2 id="createPlaylistModalTitle">Create a new Playlist</h2>
        <form data-abide>
            <div class="name-field row">
                <label>Playlist Name<small> required</small><small id="newPlaylistNameError" class="formError">A playlist name is required.</small>
                    <div class="inputGroup">
                        <input class="inputGroupInput" id="newPlaylistName" type="text" placeholder="Enter your playlist's name">
                    </div>
                </label>
            </div>
            <div class="row createPlaylistCancel">
                <button class="cancel" aria-label="Close">Cancel</button>
                <button type="submit" id="createPlaylistButton" disabled>Create Playlist</button>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</template>