<template name="passwordCheck">
    <div class="name-field row">
        <label>Username<small> required</small><small id="newUsernameError" class="formError">A username is required.</small>
            <small id="existingUsernameError" class="formError">User already exists.</small>
            <div class="inputGroup">
                <input class="inputGroupInput" id="newUsername" type="text" placeholder="Username">
                <i id="newUsernameCheck" class="fa fa-check-circle-o fa-3x"></i>
            </div>
        </label>
    </div>
    <div class="password-field">
        <label>Password <small> required</small><small id="newPasswordError" class="formError">A password is required.</small>
            <div class="inputGroup">
                <input class="inputGroupInput" id="newPassword" type="password" placeholder="Password" required>
                <i id="newPasswordCheck" class="fa fa-check-circle-o fa-3x"></i>
            </div>
        </label>
    </div>
    <div id="password-strength">
        <label>Password Strength:  <span id="strength">None</span><div id="strength-bar"></div>
        </label>
    </div>
    <div class="password-confirmation-field">

        <label>Confirm Password <small> required</small>
            <small id="rePasswordError" class="formError">The passwords did not match</small>
            <div class="inputGroup">
                <input class="inputGroupInput" id="rePassword" type="password" placeholder="Confirm Password" data-equalto="newPassword">
                <i id="rePasswordCheck" class="fa fa-check-circle-o fa-3x"></i>
            </div>
        </label>
    </div>
</template>