<template name="settingsModal">
    <div id="settings" class="reveal-modal" data-reveal aria-labelledby="settings-modal-title" aria-hidden="true" role="dialog">
        <h1 id="settings-modal-title">Settings</h1>
        <form data-abide>
            <div class="name-field row">
                <label>Setting #1<small> required</small><small id="setting1-error" class="formError">setting 1 is required.</small>
                    <div class="inputGroup">
                        <input class="inputGroupInput" id="setting1" type="text" placeholder="Enter setting 1">
                    </div>
                </label>
            </div>
            <div class="row settings-cancel">
                <button type="button" class="cancel setting-button" aria-label="Close">Cancel</button>
                <button type="submit" id="save-settings-button" class="setting-button" disabled>Save Settings</button>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</template>