<template name="songList">
    <div class="songList">
        <div class="headers">
            <div class="large-offset-1 large-11">
                <h4 id="track" class="large-5 song-info">Track</h4>
                <h4 id="artist" class="large-4 song-info">Artist</h4>
                <h4 id="time" class="large-2 song-info">Time</h4>
            </div>
        </div>
        {{#each getPlaylistSongs}}
            {{> song}}
        {{/each}}

        {{#if playlistHasNoSongs}}
            <div id="noSongs">
                <h2>This playlist has no songs!</h2>
                <h5>Click below to add a song to your playlist</h5>
            </div>

        {{/if}}

        <button id="addSong" class="button secondary large-10 large-offset-1">Add Song</button>
        <input id="fileSelector" type="file" multiple="multiple">
    </div>
</template>